<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>Esqueleto_VideoAndes</display-name>
 <servlet>
  <display-name>ServletConsultas</display-name>
  <servlet-name>ServletConsultas</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletConsultas</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletConsultaUsuario</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletConsultaUsuario</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletOperacionesBursatiles</display-name>
  <servlet-name>ServletOperacionesBursatiles</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletOperacionesBursatiles</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletExistenciaValores</display-name>
  <servlet-name>ServletExistenciaValores</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletExistenciaValores</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletCrearOB</display-name>
  <servlet-name>ServletCrearOB</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletCrearOB</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletEliminarOB</display-name>
  <servlet-name>ServletEliminarOB</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletEliminarOB</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletVisualizarOferentes</display-name>
  <servlet-name>ServletVisualizarOferentes</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletVisualizarOferentes</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletVisualizarIntermediarios</display-name>
  <servlet-name>ServletVisualizarIntermediarios</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletVisualizarIntermediarios</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletVisualizarInversionistas</display-name>
  <servlet-name>ServletVisualizarInversionistas</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletVisualizarInversionistas</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletRetirarIntermediario</display-name>
  <servlet-name>ServletRetirarIntermediario</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletRetirarIntermediario</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletEliminarIntermediario</display-name>
  <servlet-name>ServletEliminarIntermediario</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletEliminarIntermediario</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletConsultaMovimientos</display-name>
  <servlet-name>ServletConsultaMovimientos</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletConsultaMovimientos</servlet-class>
 </servlet>
 <servlet>
  <display-name>SevletConsultaValoresPortafolios</display-name>
  <servlet-name>SevletConsultaValoresPortafolios</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.SevletConsultaValoresPortafolios</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletConsultaMovimientos1</display-name>
  <servlet-name>ServletConsultaMovimientos1</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletConsultaMovimientos1</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletConsultaMovimientos2</display-name>
  <servlet-name>ServletConsultaMovimientos2</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletConsultaMovimientos2</servlet-class>
 </servlet>
 <servlet>
  <display-name>SevletConsultaValores</display-name>
  <servlet-name>SevletConsultaValores</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.SevletConsultaValores</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletConsultaPortafolios</display-name>
  <servlet-name>ServletConsultaPortafolios</servlet-name>
  <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletConsultaPortafolios</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ServletConsultas</servlet-name>
  <url-pattern>/consultas.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletConsultaUsuario</servlet-name>
  <url-pattern>/operacionesUsuario.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletOperacionesBursatiles</servlet-name>
  <url-pattern>/paginaOB.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletExistenciaValores</servlet-name>
  <url-pattern>/existenciaValores.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletCrearOB</servlet-name>
  <url-pattern>/ordenarOB.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletEliminarOB</servlet-name>
  <url-pattern>/eliminarOB.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletVisualizarOferentes</servlet-name>
  <url-pattern>/visualizarOferentes.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletVisualizarIntermediarios</servlet-name>
  <url-pattern>/visualizarIntermediarios.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletVisualizarInversionistas</servlet-name>
  <url-pattern>/visualizarInversionistas.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRetirarIntermediario</servlet-name>
  <url-pattern>/retirarIntermediario.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletEliminarIntermediario</servlet-name>
  <url-pattern>/eliminarIntermediario.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletConsultaMovimientos</servlet-name>
  <url-pattern>/consultarMovimientos.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SevletConsultaValoresPortafolios</servlet-name>
  <url-pattern>/consultarValoresPortafolios.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SevletConsultaValores</servlet-name>
  <url-pattern>/Valores.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletConsultaPortafolios</servlet-name>
  <url-pattern>/Portafolios.htm</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
</web-app>
